/.idea/copilot.data.migration.ask.xml
/.vscode/launch.json
/.vscode/settings.json
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.edit.xml
